body{
  background-color: #CAD2C5;
  height: 100%;
  width: 100;
}

img{
  height: 100%;
  width:100%
}




.css-button-shadow-border-sliding--black {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(53, 79, 82, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  background: #354F52;
  z-index: 1;
}

.css-button-shadow-border-sliding--black:hover:after {
  width: 100%;
  left: 0;
}

.css-button-shadow-border-sliding--black:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(53, 79, 82, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
  background-color: #354F52;
  right: 0;
}

.css-button-shadow-border-sliding--black:active {
  top: 2px;
}

.btn1 {
  border-radius: 25px;
  padding: 3rem;
  background-color: #84A98C;
  color: #fff;
  text-align: center;
  margin:3rem;
}
.btn2 {
  border-radius: 25px;
  padding: 3rem;
  background-color: #52796F;
  color: #fff;
  text-align: center;
  margin:3rem;
}
.btn3 {
  border-radius: 25px;
  padding: 3rem;
  background-color: #2F3E46;
  color: #fff;
  text-align: center;
  margin:3rem;
}
.btn4 {
  border-radius: 25px;
  padding: 3rem;
  background-color: #84A98C;
  color: #fff;
  text-align: center;
  margin:3rem;
}
.btn5 {
  border-radius: 25px;
  padding: 3rem;
  background-color: #52796F;
  color: #fff;
  text-align: center;
  margin:3rem;
}