.css-button-shadow-border-sliding--black {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  background: #212529;
  z-index: 1;
}

.css-button-shadow-border-sliding--black:hover:after {
  width: 100%;
  left: 0;
}

.css-button-shadow-border-sliding--black:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
  background-color: #343a40;
  right: 0;
}

.css-button-shadow-border-sliding--black:active {
  top: 2px;
}

.btn1 {
  border-radius: 5%;
  padding: 3rem;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  margin:3rem;
}
.btn2 {
  border-radius: 5%;
  padding: 3rem;
  background-color: #042f5b;
  color: #fff;
  text-align: center;
  margin:3rem;
}
.btn3 {
  border-radius: 5%;
  padding: 3rem;
  background-color: #4b045b;
  color: #fff;
  text-align: center;
  margin:3rem;
}
.btn4 {
  border-radius: 5%;
  padding: 3rem;
  background-color: #7c0610;
  color: #fff;
  text-align: center;
  margin:3rem;
}
.btn5 {
  border-radius: 5%;
  padding: 3rem;
  background-color: #06687c;
  color: #fff;
  text-align: center;
  margin:3rem;
}